@charset "UTF-8";

// adjust Typst formulae color
@if $color-scheme-auto {
	@media (prefers-color-scheme:dark) {
		svg.typst-frame use {
			stroke: #{$text-color};
			stroke-width: 0.5px;
			fill: #{$text-color} !important;
		}
		path.typst-shape {
			stroke: #{$text-color} !important;
			fill: #{$text-color} !important;
		}
	}
} @else if $color-scheme-dark {
	svg.typst-frame use {
		stroke: #{$text-color};
		stroke-width: 0.5px;
		fill: #{$text-color} !important;
	}
	path.typst-shape {
		stroke: #{$text-color} !important;
	}
}

.site-header {
	border-top: 0;
}

// icon color
.grey {
	color: $tn-white-bright;
}

// TODO: use Tokyo Night code highlight
.highlight {
	.hll { background-color: $tn-black-bright } // Marked-lines
}
